doctype
html(lang=config.language)
    head
        include partial/head
    body
        .wrap
            main.container
                include mixins/post
                +empty(page)
        include partial/scripts
        .bottom(style="height: 5em;")

block pagination
    include mixins/paginator
    +post()

